
# Everything is text unless it isn’t.
* text=auto

# Source files are whatever the OS prefers but should be
# normalised in the repository.
*.c     text
*.cpp   text
*.cc    text
*.h     text
*.hh    text
*.lolfx text
*.cs    text

# Vim doesn't like CRLF, even on Windows.
*.vim text eol=lf

# This is Windows-specific and should always have CRLF, or
# Visual Studio may misbehave.
*.sln     text eol=crlf
*.csproj  text eol=crlf
*.vcxproj text eol=crlf
*.resx    text eol=crlf

