<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup Label="Configuration">

    <!-- yes/no values -->
    <enable_ffmpeg>no</enable_ffmpeg>
    <enable_gl>no</enable_gl>
    <enable_sdl>no</enable_sdl>
    <enable_imlib2>no</enable_imlib2>
    <enable_png>no</enable_png>

  </PropertyGroup>
</Project>
